*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: black; */
}
body{
	background-color: rgb(0, 0, 0, 0.5);
}

#gamecanvas{
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	float: center;
	transform: translateY(20%);
}
